{"city":"Szczecin","country":"PL","measurements":[
{% for measurement in measurements %}
    {"date":"{{ measurement.date|date("Y-m-d") }}","celsius":"{{ measurement.celsius }}","fahrentheit":"{{ measurement.fahrenheit }}"}}
    {% if loop.last == false  %},{% endif %}
{% endfor %}
]}